*:root {
    --font--primaria: "Raleway";
    --font-secundaria: "rawline";

    --cor-cinza: #4b4b4d;
    --cor-verde: #00a85a;
}

/* .navbar {
    display: none;
} */
.menu-lateral {
    background-color: #181D31;
}
.nav-link p{
    font-weight: 500;
    font-family: var(--font--primaria);
   
}
.nav-link {
    color: #fff;
    font-weight: bold;
}

.container-logo-fm {
   height: 60px;
   width: 50px;
   background-image: url("images/logomarca-semfundo.png");

}
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid ul {
    display: flex;
}

.container-fluid ul li {
    list-style-type: none;
    margin: 1em;
}

.container-fluid ul li a {
    text-decoration: none;
    font-size: 1.3em;
    color: #e8eeeb;
    font-weight: normal;
    font-family: var(--font--primaria);
    transition: 0.5s ease;
}
/* AQUI TEMBEM MODIFICA O HOVER DO MENU LATERAL*/
.container-fluid ul:hover li a {
    color: #05b965; 
}

.container-fluid ul:hover li a:not(:hover) {
    color: rgb(179, 177, 177);
    opacity: 0.3;
    filter: blur(1px);
}

/*==================================*/
.bg__video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
    filter: blur(3px);
}

.background {
    height: 100vh;
    width: 100%;
    /* background-image: url(images/road01.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center center;
    padding: 0;
}

.paralax {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #000, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.background__infor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background__infor h1 {
    color: #fff;
    font-family: var(--font--primaria);
    font-size: 4em;
    font-weight: 400;
    text-align: center;
}
.background__infor p {
    margin: 1em;
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    font-family: var(--font--primaria);
}
.background__infor >img {
    width:0px;
    
}
.background img {
    width: 512px;
}

.midia__sociais img {
    width: 34px;
    margin: 1em 5px;
}

.monteiro {
    color: #348aa7;
    font-weight: 500;
}

.ver__mais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    height: 40px;
    width: 200px;
    border-radius: 100px;
    border: 1px solid #fff;
    transition: 0.3s ease;
}

.ver__mais p {
    color: #00a85a;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    transition: 0.4s ease;
}

.ver__mais:hover {
    border-color: #00a85a;
    cursor: pointer;
}

.ver__mais:hover p {
    color: #fff;
}

.github,
.instagram,
.facebook,
.linkedin,
.whatsapp {
    transform: scale(0.9);
    transition: 0.4s;
}

.github:hover,
.instagram:hover,
.facebook:hover,
.linkedin:hover,
.whatsapp:hover {
    transform: scale(1.2);
    cursor: pointer;
}
/* SEÇÃO SOBRE MIM*/

.dev {
    max-width: 100%;
    max-height: 100%;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0 10px 0 0;
    filter: blur(1px);
    filter: drop-shadow(10px 10px);
   
}
.container_imagem_dev {
    width: 250px;
    height: 300px;
    margin: auto;
}

.sobre__min {
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 2em;
}

.sobre__min h1 {
    text-align: center;
    font-family: var(--font--primaria);
    margin: 1.3em;
}
.sobre__min p {
    margin: 2em 0;
   text-align: justify;
}
.span_sobre_min{
    color: #00a85a;
    font-weight: bold;
}
.symbol {
   font-size: 2em;
   color: #348aa7;
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 1.5em;
}
.symbol::before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #00a85a; 
}
.symbol::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #00a85a; 
}
.text-center h1 {
    margin: 2em 0;
    font-family: var(--font--primaria);
}
.col {
    width: 400px;
    height: 450px;
    margin: 5px;
}
.progress {
    width: 100%;
}
.progres_01 {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 7px 0;
}
.progres_01 img {
    width: 32px;
    margin: 8px;
}
/* SEÇÃO MINHA EDUCAÇÃO*/

.container__educacao {
    position: relative;
    height: 100vh;
   padding: 5px;
   background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
.container__educacao > h1 {
    margin: 1em 0;
    font-family: var(--font--primaria);
    font-weight: bold;
}
.minha__educacao {
    border-radius: 5px;
    margin: 5px; 
}
.minha__educacao li {
    width: 420px;
    height: 200px;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
   
}
.minha__educacao li::before{
    content:'\2705';
    margin-bottom: 1em;
    display: block;
}
.minha__educacao li::after{
    content:'';

}
.minha__educacao p {
    font-family: var(--font--primaria);
}
.minha__educacao h1 {
    font-size: 1.5em;  
    font-family: var(--font--primaria);  
}

/* SEÇÃO OUTRos CONHECIMENTOS */ 

.outros__conhecimentos {
    min-height: 100vh;
}
.col-6 {
    width: 400px;
    border: 1px solid #454646;
    background-color: #FCFDF2;
    margin: 5px;
    padding: 1em;
  
}
.col-6 img {
    width: 70px;
}
.col-6 h2 {
    font-family: var(--font--primaria);
    font-weight: bold;
    margin: 1em 0;
    font-size: 1.4em;
}
.col-6 p {
    text-align: justify;
    font-family: var(--font--primaria);
}

/*SEÇÃO PROJETOS*/
.meus_projetos{
    height: 100VH;
}



/*====================================*/

.footer{
    height:60px;

}
.footer p {
    margin: 0;
}

@media (max-width: 768px) {
 
    .container__logo_e_nome {
        display: none;
    }
    .navbar {
        display: block;
    }
}

@media (max-width: 480px) {
    .container__logo_e_nome p {
        font-size: 1em;
    }

    .background__infor h1 {
        font-size: 2em;
    }
}
.card {
    margin: 5px;
}
.card img{
    width: 70px;
   
}

.meus_projetos {
    min-height: 70vh;
}
.botao {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* Seção nav bar oculta para usar nav-bootstrap */
.nav-logo-personal {
    display: none;
}
.header_sobre_min {
    margin: 2em 0 0 0 ;
    padding: 1em 0;
}


.header_minha_educacao {
    position: absolute;
    top: 100px;
}
.uninter {
    
    
}